body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;
   text-align: center;
   line-height: 1.5;
}
#main {
  background: #eee;
  margin: 20px auto;
  border-radius: 5px;
}
#title {
  padding-top: 50px;
  font-weight: bold;
  font-size: 2.5rem;
}
#img-div {
  background-color: white;
  margin: auto 15px;
  padding: 10px;
}
#image {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}
h4 {
  font-size: 1.17em;
  margin: 50px auto;
}
#tribute-info ul {
  max-width: 550px;
  margin: 0 auto 50px auto;
  text-align: left;
  line-height: 1.6;
}
#tribute-info li {
  margin: 16px 0;
}
blockquote {
  max-width: 545px;
  text-align: left;
  margin: 0 auto 50px auto;
  font-style: italic;
}
a {
  color: #477ca7;
}
a:visited {
  color: #74638f;
}
h3 {
  opacity: 0.8;
  padding-bottom: 25px;
}